.reservation_sectio_wrapper article {
  margin: 25px 0px 25px 0px;
}

.reservation_sectio_wrapper h4 {
  width: 200px;
}

.simulator_button_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.simulator_button_container h4 {
  margin-bottom: 0px;
  margin-right: 30px;
}

.simulator_button_container input {
  margin-left: 10px;
  margin-right: 3px;
}
