header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  z-index: 2000;
  position: block;
}

nav {
  display: inline-block;
}

h1 {
  height: 45px;
}

li {
  display: inline-block;
}

a {
  display: block;
  padding: 0 28px;
  line-height: 50px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

.wrap_header {
  height: 72px;
  max-width: 952px;
  margin: 0 auto;
  text-align: center;
}

.doc-title {
  vertical-align: top;
  display: inline-block;
  padding-top: 27px;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.home_img {
  font-family: "nanumsquare";
  display: inline-block;
  height: 45px;
}

.main_menu {
  font-size: 16px;
  letter-spacing: -0.5px;
  list-style: none;
  margin: 0;
  padding-top: 27px;
  padding-inline-start: 30px;
}

.main_menu li {
  height: 45px;
}

.main_menu_li:hover .main_menu_a {
  font-weight: 800;
}

.main_menu_li:hover .sub_menu {
  /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
  height: 45px;
}

.main_menu_a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 0 28px;
  height: 45px;
  line-height: 50px;
}

.sub_menu {
  background-color: black;
  border-radius: 24px;
  position: absolute;
  height: 0px;
  overflow: hidden;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  padding-inline-start: 0px;
}

.sub_menu a {
  font-size: 14px;
  color: white;
  padding: 0 20px;
}

.sub_menu li {
  /* 서브 메뉴 안에 있는 li 태그의 스타일 적용 */
  font-size: 16px;
}
